
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Chil.JS :: 七政算內篇 - 曆日</title>
</head>
<body>
    <%-include('./comp/navbar.ejs') %>

    <!--본격적인 HTML은 여기서부터-->

    <div class="container">
        <div class="words">
            <h1>暦日</h1>
            <form class="Input">
                <input type="text" placeholder="年度" id="yearInput" onkeyup="almanacEnter();">
                <input type="reset" value="入力" id="yearSubmit" onclick="almanacClick();" >
            </form>
        </div>
        <div class="words">
            <p>The "Almanac" function currently performs calculations for only "Yeokil" chapter, so the page title is named "暦日(Yeokil)". This function returns major annual events such as moon phases and the 24 seasons month by month, represented in JSON format. The results will be similar to the East Asian "Yeokseo", which means almanac in Korean.</p>
            <p>Currently, this site only provides information for the years CE 1281-1654. Other input values may result in errors.</p>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script>
        function enterKey() {
            if (window.event.keyCode == 13) {
                almanacClick();
            }
        }
        
    </script>
    <script src="/js/index.js"></script>

    <!--footer-->
    <div class="footer">
        <%-include('./comp/footer.ejs') %>
    </div>
</body>
</html>


