
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Chil.JS :: 七政算內篇 - 曆日</title>
</head>
<body>
    <%-include('./comp/navbar.ejs') %>

    <!--본격적인 HTML은 여기서부터-->

    <div class="container">
        <div class="words">
            <h1>月暦</h1>
            <form class="Input">
                <input type="text" placeholder="年度" id="yearInput" onkeyup="calendarEnter();">
                <input type="reset" value="入力" id="yearSubmit" onclick="calendarClick();" >
            </form>
        </div>
        <div class="words">
                <p>The "月暦(Calendar)" function returns data that is similar to a modern calendar. The calendar array contains elements for each day of the year, and each element contains information about the day and any events that are scheduled for that day, represented in JSON format.</p>
                <p>Currently, this site only provides information for the years CE 1281-1654. Other input values may result in errors.</p>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/index.js"></script>

    <!--footer-->
    <div class="footer">
        <%-include('./comp/footer.ejs') %>
    </div>
</body>
</html>


