
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Chil.JS :: 七政算內篇 - 曆日</title>
</head>
<body>
    <%-include('./comp/navbar.ejs') %>

    <!--본격적인 HTML은 여기서부터-->

    <div class="container">
        <div class="words">
            <h1>Chil.JS </h1>
            <h2>A JavaScript Code Set Based on ChilJeongSan</h2>
            <center><img src="/assets/chiljs.png"></center>
            <p>Chil.JS is a JavaScript code set based on Chiljeongsan(七政算), a calendar calculation system (Lifa, 暦法) created in CE 1444 by the Joseon dynasty. This site provides calendar information for the years CE 1281-1654, as well as raw data. You can also access the code on my <a href="https://github.com/jyhyun1008/Chil.JS" style="color: var(--accent)">GitHub page</a>!</p>
            <h2>News!</h2>
            <p>There is a minor issue with converting Julian dates to Julian calendar dates because of a problem with the JavaScript date format. I will fix the problem once I have a better solution.</p>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/index.js"></script>

    <!--footer-->
    <div class="footer">
        <%-include('./comp/footer.ejs') %>
    </div>
</body>
</html>



