<header class="header">
    <nav class="navbar">
        <a href="/" class="nav-logo">Chil.JS</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/calendar" class="nav-link">月曆</a>
            </li>
            <li class="nav-item">
                <a href="/almanac" class="nav-link">曆日</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

    </nav>
</header>
